@{
    ViewData["Title"] = "Index";
}
@section Styles {
  <link  href="~/lib/custom/css/admin/home.css" rel="stylesheet" />
}
@Html.AntiForgeryToken()
  <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-seedling"></i>
        <span class="count-numbers" id="plantCount"></span>
        <span class="count-name">Plants</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-thumbs-down"></i>
        <span class="count-numbers" id="alertCount"></span>
        <span class="count-name">Alerts</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-thumbs-up"></i>
        <span class="count-numbers" id="successCount"></span>
        <span class="count-name">Successfull</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers" id="userCount"></span>
        <span class="count-name">Users</span>
      </div>
    </div>
  </div>

<div id="plantTable">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Office Plants</h6>
    </div>
    <div class="card-body">
      <div id="LoadTasksTable" class="table table-bordered table-hover" ></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <div id="TaskTable">
           <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Schedule Tasks</h6>
                </div>
                <div class="card-body">
                    <div id="LoadTasksStatusTable" class="table table-bordered table-hover"  width="100%"></div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


